In [33]:
import pandas as pd

In [34]:
# The path to our CSV file
path = "Resources/KickstarterData.csv"
# Read our Kickstarter data into pandas
kickstarter = pd.read_csv(path)

In [35]:
# Get a list of all of our columns for easy reference
kickstarter.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,1645666704,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",The Class Act Players Theatre Company Presents...,The Class Act Players put on another one of th...,1500.0,2925.0,successful,the-class-act-players-theatre-company-presents...,False,US,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,874638240,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,"A brand new play about love and entitlement, b...",2500.0,2936.0,successful,mr-incredible-by-camilla-whitehill-vault-festival,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,247074984,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",RUN,Yonni's pissed off in a world filled with scho...,1000.0,1200.0,successful,run-10,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,1941196813,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",9th International Meeting of Youth Theatre sap...,27. April bis 1. Mai 2016 in Brixen/Südtirol/I...,2000.0,2135.0,successful,9th-international-meeting-of-youth-theatre-sap...,False,IT,...,"{""country"":""IT"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,421961595,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Get Conti to the Ed Fringe!,The Italia Conti 2nd years are going to Ed Fri...,1000.0,1250.0,successful,get-conti-to-the-ed-fringe,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [36]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
kickstarter = kickstarter[["name", "goal", "pledged", "state", "country", "staff_pick", "backers_count", "spotlight"]]

In [37]:
# Remove projects that made no money at all
kickstarter_mm = kickstarter.loc[kickstarter['pledged'] > 0]
kickstarter_mm.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [38]:
# Collect only those projects that were hosted in the US
us_projects = kickstarter.loc[kickstarter["country"] == "US"]
us_projects.head()
# Create a list of the columns

# Create a new df for "US" with the columns above.

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True
14,Pride Con,15000.0,15110.0,successful,US,False,60,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True

In [39]:
# Create a new column that finds the average amount pledged to a project
avg_donate = us_projects["pledged"]/us_projects['backers_count']
us_projects["average donation"] = avg_donate

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [40]:
# First convert "average_donation", "goal", and "pledged" columns to float
us_projects['average donation'] = us_projects['average donation'].astype(float).map("${:2f}".format)
us_projects['goal'] = us_projects['goal'].astype(float).map("${:,.2f}".format)
us_projects['pledged'] = us_projects['pledged'].astype(float).map("${:,.2f}".format)

# Then Format to go to two decimal places, include a dollar sign, and use comma notation

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [41]:
# Calculate the total number of backers for all US projects
us_projects['backers_count'].sum()

89273

In [42]:
# Calculate the average number of backers for all US projects
us_projects["backers_count"].mean()

33.82834406972338

In [45]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
us_campaigns = us_projects.loc[us_projects['staff_pick'] == True]
us_campaigns

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,average donation
11,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.537879
15,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.825000
39,"""Poor People"" at FringeNYC 2015","$5,500.00","$5,682.00",successful,US,True,34,True,$167.117647
44,Queen Mab's Steampunk and Fairie Street Festival,"$1,300.00","$3,363.00",successful,US,True,62,True,$54.241935
45,RAFT: a new play by Emily Kitchens,"$7,500.00","$7,826.00",successful,US,True,120,True,$65.216667
47,The Spinning Wheel: a son remixes a father's r...,"$20,000.00","$22,602.00",successful,US,True,228,True,$99.131579
50,Bloomers Presents: LaughtHERfest,"$8,000.00","$9,501.00",successful,US,True,102,True,$93.147059
54,Natasha Noman's Noman's Land | Aug 5-15th Edi...,"$7,000.00","$7,571.00",successful,US,True,84,True,$90.130952
107,Peter/Wendy goes to the 2015 Edinburgh Fringe ...,"$10,000.00","$12,003.00",successful,US,True,95,True,$126.347368
115,La Lune de Femme goes to New Orleans Fringe,"$5,000.00","$5,519.00",successful,US,True,79,True,$69.860759
117,Secular Solstice 2014,"$7,500.00","$8,157.01",successful,US,True,164,True,$49.737866
122,Southern Shakespeare Festival,"$7,500.00","$8,202.00",successful,US,True,63,True,$130.190476
128,Too Much Light Heads to the Edinburgh Fringe!,"$15,000.00","$15,277.00",successful,US,True,239,True,$63.920502
136,And Then Came Tango,"$2,000.00","$2,001.00",successful,US,True,39,True,$51.307692
153,The Trouble With Dead Boyfriends goes to Premi...,"$4,500.00","$4,970.00",successful,US,True,79,True,$62.911392
194,(Wo)men Rule Broadway,"$10,000.00","$10,034.00",successful,US,True,50,True,$200.680000
215,The Waterman: A Forgotten Cascadian Myth,"$3,500.00","$3,502.50",successful,US,True,66,True,$53.068182
226,TINY - A New Musical Based On The Life Of Tiny...,"$7,500.00","$9,591.00",successful,US,True,138,True,$69.500000
228,Deaf West Theatre's Spring Awakening Tony Perf...,"$200,000.00","$211,634.17",successful,US,True,1769,True,$119.634918
252,The Wolves of Chernobyl Present Recordings & T...,"$3,150.00","$4,658.00",successful,US,True,125,True,$37.264000
254,Alien Vs. Musical,"$15,000.00","$16,212.00",successful,US,True,371,True,$43.698113
260,Help Get Street Theatre Off The Street,"$15,000.00","$16,612.00",successful,US,True,119,True,$139.596639
264,He Knew He Would Say It (But Could He Believe ...,"$5,000.00","$5,916.00",successful,US,True,70,True,$84.514286
276,"35MM, A Musical Exhibition","$5,000.00","$5,030.00",successful,US,True,35,True,$143.714286
278,SPEAKEASY - a new musical,"$13,500.00","$14,305.00",successful,US,True,142,True,$100.739437
286,The Monster of Phantom Lake: The Musical!,"$2,500.00","$6,495.00",successful,US,True,103,True,$63.058252
288,Kat Robichaud's Misfit Cabaret,"$6,000.00","$12,141.69",successful,US,True,179,True,$67.830670
293,Spies Are Forever: A New Comedy Musical,"$42,000.00","$58,830.08",successful,US,True,1147,True,$51.290392
314,"Andina, the Opera That Never Was","$2,200.00","$5,076.89",successful,US,True,91,True,$55.790000
321,'What's Your Wish?'- Thicket & Thistle's Fring...,"$6,750.00","$6,766.83",successful,US,True,101,True,$66.998317
...,...,...,...,...,...,...,...,...,...
3660,"Toscana, or What I Remember","$4,000.00","$4,296.00",successful,US,True,21,True,$204.571429
3702,Catapult OYL to the next level—in Edinburgh!,"$15,000.00","$15,481.00",successful,US,True,181,True,$85.530387
3716,"Two ""Gentlemen"" of Verona by William Shakespeare","$2,000.00","$2,047.00",successful,US,True,39,True,$52.487179
3741,Honorable Men - Poor Yorick's Players 2016 Season,"$1,000.00","$1,312.00",successful,US,True,26,True,$50.461538
3811,Orpheus Descending by Tennessee Williams,"$15,500.00","$15,705.00",successful,US,True,286,True,$54.912587
3821,Hear Me Roar: A Season of Powerful Women,"$7,000.00","$7,164.00",successful,US,True,37,True,$193.621622
3827,"""Next Stop"" - Adjusting to dating in NYC","$10,000.00","$15,443.00",successful,US,True,145,True,$106.503448
3828,Titus Andronicus (with an all-female cast & crew),"$2,500.00","$2,804.16",successful,US,True,68,True,$41.237647
3838,Keep the Art of Marionettes Alive With PUPPETW...,"$5,000.00","$5,462.00",successful,US,True,73,True,$74.821918
3846,Shakespeare in ASL - and FREE for everyone,"$2,500.00","$3,120.00",successful,US,True,84,True,$37.142857
3866,Celebrating 20 years of The 24 Hour Plays arou...,"$35,000.00","$35,275.64",successful,US,True,269,True,$131.136208
3871,THE INCREDIBLE FOX SISTERS,"$8,000.00","$8,227.00",successful,US,True,71,True,$115.873239
3876,Colt Coeur's 6th Season,"$35,000.00","$35,123.00",successful,US,True,134,True,$262.111940
3883,The Gray Man,"$10,000.00","$11,122.00",successful,US,True,193,True,$57.626943
3899,Good People by David Lindsay-Abaire at Waterfr...,"$3,100.00","$3,395.00",successful,US,True,74,True,$45.878378
3926,Scrappy Shakespeare: A Midsummer Night's Dream,"$3,300.00","$3,315.00",successful,US,True,49,True,$67.653061
3929,"or, The Whale: an original stage adaptation of...","$15,000.00","$15,315.00",successful,US,True,288,True,$53.177083
3951,Paperhand Puppet Intervention 16th Annual Summ...,"$10,000.00","$12,806.00",successful,US,True,176,True,$72.761364
3952,"Yesterday Again, Please - A New Play by Dezi G...","$5,500.00","$5,771.00",successful,US,True,88,True,$65.579545
3954,The Metronome Society,"$1,500.00","$1,661.00",successful,US,True,20,True,$83.050000
3970,Macbeth,"$6,000.00","$7,877.00",successful,US,True,163,True,$48.325153
4018,Honest Accomplice Theatre 2015-16 Season,"$12,000.00","$12,095.00",successful,US,True,200,True,$60.475000
4049,Eyes Closed - The First In-Dream Theater Exper...,"$20,000.00","$20,022.00",successful,US,True,119,True,$168.252101
4078,Kapow-i GoGo at The PIT,"$2,500.00","$2,575.00",successful,US,True,49,True,$52.551020
4081,The Hurtling Stillness. A story about angels a...,"$1,800.00","$1,805.00",successful,US,True,12,True,$150.416667
4086,Prison Boxing: A New Play by Leah Joki,"$12,200.00","$12,571.00",successful,US,True,134,True,$93.813433
4095,Bluebirds by Joe Brondo,"$7,000.00","$7,365.00",successful,US,True,75,True,$98.200000
4100,The Seagull Project Presents: The Three Sisters,"$20,000.00","$21,573.00",successful,US,True,202,True,$106.797030
4104,Verdigris - A Play by Jim Beaver,"$35,000.00","$56,079.83",successful,US,True,930,True,$60.300892
4115,Bring Love's Labour's Lost to Minnesota,"$25,000.00","$25,388.00",successful,US,True,213,True,$119.192488

In [46]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)
us_campaigns.groupby('state')['staff_pick'].count()

state
canceled        6
failed         21
live            2
successful    145
Name: staff_pick, dtype: int64